@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: montserrat;
}

h2 {
    margin: 3rem 0rem;
}

header {
    margin: 1rem;
}

main {
    margin: 1rem;
}

footer {
    text-align: center;
    font-size: large;
}

.dark-mode {
    background-color: black;
    color: white;
}

.toggle-dark {
    font-size: 12px;
}

.nav {
    text-align: left;
    padding: 2rem;
}

.nav-dropdown {
    min-width: 250px;
    height: 350px;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.9;
    background-color: grey;
    color: white;
}

.nav-link {
    color: white;
}


.logo {
    font-size: 40px;
    text-align: left;
    padding: 2rem;
}

.period-label {
    box-shadow: 1px 2px;
    border: solid 1px black;
    margin-right: 0.5rem;
}

.period li {
    list-style-type: none;
    display: inline;
    padding: 0.5rem;
}

.channels {
    width: 160px;
    margin: 1rem;
}

.liveCount {
    font-size: large;
    font-weight: 600;
}

.graph {
    height: 400px; 
    padding: 1.5rem;
    margin-bottom: 2rem;
}

/**wrappers**/

.graphs-wrapper {
    margin: 2rem 0;
}

/**Tables**/

.stats th, td {
    padding: 1rem;
}

.tableDate {
    font-weight: bold;
    padding: 1rem;
}

.inputFields {
    width: 110px;
}

/*--------------------------------------------Media Queries */

@media screen and (max-width: 576px) {
    .logo {
        font-size: 28px;
    }

     
  
}